@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h1 align="center">Login</h1>
<h3 align="center">
    <a asp-controller="Home" asp-action="Index">Home Page</a>
</h3>

<form asp-controller="Admin" asp-action="Login" method="post">

    <div asp-validation-summary="All"></div>

    <input hidden asp-for="ReturnUrl" />

    <div class="mb-5">
        <label for="inputLogin" class="form-label">Login</label>
        <input asp-for="UserName" type="text" class="form-control" id="inputLogin" aria-describedby="loginHelp">
        <span asp-validation-for="UserName"></span>
        <div id="loginHelp" class="form-text">Enter your Login</div>
    </div>

    <div class="mb-5">
        <label for="inputPassword" class="form-label">Password</label>
        <input asp-for="Password" type="password" class="form-control" id="inputPassword">
        <span asp-validation-for="Password"></span>
    </div>

    <div class="mb-5 form-check">
        <input type="checkbox" class="form-check-input" id="check1">
        <label class="form-check-label" for="check1">Check me out</label>
    </div>

    <button type="submit" class="btn btn-primary">Log in</button>
</form>
